body{
    background-color: cornflowerblue;
    height: 100vh; 
    width: 100vw;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4px;
}

a{
    padding: 1rem;
}

img{
    
    margin: auto;
}
input{
    height: 1.5rem;
    width: 5rem;
    margin: 2px;
}

button{
    margin: 4px;
}

p{
    margin: 0;
    padding: 0;
}

#animationWrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

#animationDiv{
    width: 100px;
    height: 100px;
}

.carousel-item{
    text-align: center;
    width: 100%;
}

